<h1>This is the root!</h1>


<div><%= link_to "Create New Account", new_donor_registration_path %></div>

<div><%= link_to "Existing Users", new_donor_session_path %></div>

<div><%= link_to "Sign Out", destroy_donor_session_path, :method => :delete %></div>
