<%= form_tag "/donor/#{@negotiable_profile.id}/negotiate", method: :patch do %>
  <div class="field">
    <%= label_tag :charge %><br />
    <%= text_field_tag :charge, @negotiable_profile.charge.to_i %>
  </div>
  <%= submit_tag "Change Rate" %>
<% end %>
